<div class="body">

    <div class="login">

        <form  [formGroup]="recuperarpassword"   (ngSubmit)="recuperar()">

        <img src="../../../assets/img/user2.png"  width="40%"    alt="">
        <h1> Recuperar</h1>

        <mat-form-field class="ancho" appearance="fill">
            <mat-label>Email</mat-label>
            <input type="email"     autocomplete="off" matInput  formControlName="correo">
          </mat-form-field>

          <br>

          <button type="submit" mat-raised-button class="ancho boton"  [disabled]="recuperarpassword.invalid"  color="primary">Recuperar</button>
               
        <br>
        <br>
        <a routerLink="/login" href="">Volver</a>
      </form>

    </div>

    


</div>

